<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">DevManagePro</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects/list">My Projects</a> 
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="/users/logout" class="btn btn-secondary">Logout (<%=user.name%>)</a>
    </form>
  </div>
</nav>


<h1 class="mt-4">Dashboard</h1>
<% include ./partials/messages %>
<p>
  <a href="/projects/add" class="btn btn-success">Create Project</a>
  <div class="form-group"></div>
  <small id="emailHelp" class="form-text text-muted"></small>
</p>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">DevManagePro</h1>
    <p class="lead">Select My Projects to view projects or select Create Project to create a Project</p>
    <hr class="my-4">
    <p>Select each project to view additional functionality.</p>
  </div>

</div>